@import "https://unpkg.com/apis-font/fonts/font.css";

:root {
  --body-font-family: "Apis", sans-serif;
  --var-nova-color: #001965;
  --color-white: #fff;
  --box-card-color: #ffffff78;

  --input-icon-color:#9a9694;
  --header-bg-color:#5689bc;

  --var-blue-variation-color:#6987ac;
  --var-darkBlue-variation-color:#587aa3;

  --var-green-variation-color: #216e73;

  --var-lightBlue-variation-color:#becbda;
  --var-lightBluish-variation-color:#dce3eb;
  
}

*{
  font-family: var(--body-font-family) !important;
}

.position-relative{
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.placeholderItem {
  color: rgb(81 81 81 / 38%);
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 16px;
}

input:-internal-autofill-selected {
  background-color: transparent !important;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a5;
}

body {
  margin: 0;
  font-family: var(--body-font-family) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.MuiTypography-root,
.MuiButtonBase-root{
  font-family: var(--body-font-family) !important;
}

.cursor-pointer{
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column{
  flex-direction: column !important;
}

.gap-10px{
  gap: 10px;
}

.w-100{
  width:100%
}

.mt-0px{
  margin-top: 0px;
}

.mb-0px{
  margin-bottom: 0px;
}
.mt-10px{
  margin-top: 10px !important;
}

.MuiFormControl-root svg {
  /* fill: var(--input-icon-color); */
  fill: var(--color-white);
}

.placeholder-input{
  color: var(--input-icon-color);
}

.MuiFormControl-root  label{
  /* color: var(--var-nova-color); */
  color: var(--color-white);
}

.MuiFormControl-root fieldset,
.MuiFormControl-root input{
  color: var(--color-white);
}

.MuiFormControl-root fieldset{
  border-color: var(--color-white);
}

.landingcdic,
.patientbg{
  background-position: center center;
    background-size: cover;
    height: 100vh;
    /* background-image: url(.././src/img/langpage.png); */
    background-repeat: no-repeat;
    /* background-image:    linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 246, 252, 0.52)),    url('.././src/img/langpage.jpg'); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0px !important;
    /* opacity: 0.9; */
}


.patientSection {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 75dvh;
  flex-direction: column;
  background-color: var(--var-nova-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 65px !important;
}

.leftDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-logo {
  width: 50% !important;
  max-width: 100%;
  height: auto;
}

.heading{
  color: var(--color-white);
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.sub-heading{
  color: var(--var-nova-color);
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.patientIcon {
    color: var(--color-white) !important;
    background-color: var(--var-nova-color);
    padding: 10px;
    border-radius: 50px;
}

.existingPatient {
  color: var(--var-nova-color) !important;
  background-color: var(--color-white);
}

.existing_patient_card {
  box-shadow: none;
  background-color: transparent;
    border: 1px solid #E5E7EB;
    color: var(--color-white);
}

.existing-button{
   border-color: var(--header-bg-color) !important;
   color: var(--color-white) !important;
   background-color: var(--header-bg-color) !important;
   line-height: inherit !important;
   border-radius: 50px !important;
   width: 70% !important;
}

.existing-button svg{
  color: var(--color-white) !important;
} 

.button-new {
  background-color: var(--var-nova-color) !important;
}

.startSection{
  height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-left: 20px;
    margin-right: 20px; */
}

.startSection svg {
  font-size: 1.5rem !important;
}

.iconimg{
  margin-left: 11px;
}

.patientbg .MuiPaper-root
{
  background-color: transparent;
    box-shadow: none;
    color: #fff;
    border: 1px solid var(--var-nova-color);
    /* height: 231px; */
}

/* .patientbg svg{
  font-size: 80px;
  color: var(--var-nova-color);
} */

.start-button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 42px !important;
  width: 90%;
  cursor: pointer;
}

.boxCard{
  /* background-color: var(--box-card-color); */
  background-color: transparent;
  border-color: transparent !important;
  padding-top: 50px !important;
  padding-bottom: 30px !important; 
  padding-left: 0px !important;
  padding-right: 0px !important;
  box-shadow: none !important;
}

.boxCard label{
  color: var(--color-white);
}

.boxCard .MuiInputBase-root{
  border-radius: 15px;
  background-color: var(--var-blue-variation-color) !important;
}

.boxCard .submitFormButton{
  background-color: var(--var-green-variation-color) !important;
}

.boxCard .MuiInputBase-input{
  padding-top: 14px;
    padding-bottom: 11px;
}
.commonButton{
  background-color: var(--var-darkBlue-variation-color) !important;
  border: 1px solid var(--var-darkBlue-variation-color) !important;
  gap: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none !important;
  border-radius: 25px !important;
  line-height:  inherit !important;
}

/* button.backButton{
  background-color: transparent !important;
  border: 1px solid var(--color-white) !important;
  color: var(--color-white) !important;
  line-height:  inherit !important;
} */

.patientMainSection .patientImg{
  width: 80%;
}

.patientbg .MuiCardContent-root {
  padding: 0px !important;
}

.patientbg .patientSecondDiv{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

    background-color: var(--var-nova-color);
}

.patientSection .MuiTypography-root{
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: var(--var-nova-color);
}

.patientMainSection .patientLogo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.patientMainSection .patientLogo .main-logo {
  width: 40% !important;

}

.voiceIcon{
  width: 20px;
  cursor: pointer;
}

.backButton{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.phoneNumberSection{
  padding-left: 11px;
}

.phoneNumberSection .d-none{
  display: none;
}

.existingPatientList .MuiButtonBase-root.MuiListItemButton-root{
  background-color: var(--header-bg-color);
}

.existingDialog .MuiButtonBase-root:nth-of-type(even) {
  background-color: var(--var-lightBluish-variation-color) !important;
}

.existingDialog .MuiButtonBase-root:nth-of-type(odd) {
  background-color: var(--var-lightBlue-variation-color) !important;
}

.existingDialog .MuiList-root {
  padding-top: 0px !important;
}

.existingDialog .MuiListItemText-root span{
  color: var(--var-nova-color);
}

.existingDialog .MuiListItemText-root p{
  color: var(--var-nova-color);
}



.voiceFixIcon{
  position: fixed;
    z-index: 9;
    bottom: 20px;
    right: 20px;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: end;
}

.voiceFixIcon img{
  width: 18%;
    border-radius: 50%;
}

.mainHeading {
  color: var(--var-nova-color);
  margin-bottom: 2px !important;
  font-weight: 600 !important;
}

.patientSection .subHeading{
  font-size: 16px;
    color: var(--var-nova-color);
    margin-top: 5px;
}

.patientMainSection.patientPage .patientSection {
  justify-content: flex-start;
}

.patientHeaderSection{
  margin-top: 56px;
  margin-bottom: 56px;
}

/* .patientbg .patientLogo .main-logo,
.patientbg .main-logo {
  background-color: #fff;
    padding: 9px;
    border-radius: 15px;
} */

.patientSection .MuiTypography-root.mainHeading{
  font-size: 26px;
}

.backButton button{
  color: var(--var-nova-color);
}

.patientbg .color-white{
  color: var(--color-white);
}

.patientbg .MuiOutlinedInput-notchedOutline{
  border-color: var(--var-blue-variation-color) !important;
}

.patientbg .MuiFormLabel-root.Mui-focused{
  color: var(--color-white);
}

.patientSummaryBox{
  display: none;
}

.searchReportSection{
  margin-top: 33px;
}

.start-button img{
  max-width: 220px;
}

#myVideo {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  object-fit: cover;
}

.mainPatientLanding .patientSection{
  background-color: transparent !important;
  padding-top: 32px !important;
}
.mainPatientLanding.mainPatientLanding .patientSection{
  padding-left: 16px;
  padding-right: 16px;
}

.mainPatientLanding .patientHeaderSection{
 margin-bottom: 0px !important;
}

.userButtonIcon{
  width: 25%;
}

.existingMainSection .boxCard .MuiFormControl-root{
  margin-top: 10px;
}

.light-user-list {
  background-color: var(--var-lightBlue-variation-color);
}

.light-user-oddList{
  background-color: var(--var-lightBluish-variation-color);
}

.voiceChatDialog {
  position: fixed;
    z-index: 99;
    bottom: 16px;
    display: flex
;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.voiceChatDialog img.loaderVoice{
  width: 50%;
  margin-bottom: 22px;
}

.voiceChatListen {
  z-index: 99;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100dvh - 150px);

}
/* 
.keyboard-none {
  display: none;
} */

@media (min-width:1200px){
  body,
  .dialog-box{
    margin: 0 auto;
    max-width: 400px;
    border-left: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
}

.voiceFixIcon,
.voiceChatDialog{
  position: static;
  margin-bottom: 10px;
}
}